{% extends "base.html" %}
{% from "helpers/render.html" import render_form %}

{% block title %}Chat - {{ chat.name }}{% endblock %}
{% block script %}<script type="text/javascript">var socket_url = '{{ SOCKET_URL }}'</script>{% endblock %}

{% block body %}
    <p class="text-right"><a href="/chat" ><mark>back to main</mark></a></p>
    <h3>Wellcome to the <b>{{ chat.name }}</b>!</h3>

    <form role="form" data-clean-fields="True">
        {{  render_form(form) }}
        <button type="button" class="btn btn-default socket_handler" data-result-selector=".messages_block">Write</button>
    </form>

    <hr />
    <blockquote>
        <li>you can add some image, just past a link to it</li>
        <li>you can do some commands (sum of/min of/max of/sort), for example: <b>sort 99 4 6 10 1</b></li>
    </blockquote>
    <hr />

    <div class="messages_block">
        {% include "chat/messages_list.html" %}
    </div>

{% endblock %}
